.container {
  background-color: blue;
  color: whitesmoke;
  width: 100vw;
  height: 100vh;
}

.title {
  padding: 2rem;
  text-align: center;
  font-weight: bold;
  font-size: 3rem;
}

.clock-box {
  margin: auto;
  padding: 1rem;
  margin-top: 3rem;
  font-size: 5rem;
  color: whitesmoke;
  font-family: 'Zen Dots';
  display: flex;
}